/* ---------------------- When Using as title ----------------------*/

.hero-banner-as-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; /* Adjust height as needed */
  
  color: white;
}

.hero-title-as-title {
  text-align: center;
  font-family: Arial, sans-serif; /* Choose a clean font */
  font-size: 2.9rem; /* Adjust font size */
  line-height: 1.2;
}


.top-text-as-title {
  display: block;
  color: #B30000FA;
  -webkit-background-clip: text; /* Clip background to text */
  background-clip: text; /* For non-webkit browsers */
  padding: 10px;
  font-weight: bold;
}

.highlight-container-as-title{
  background-color: #B30000FA; /* Dark blue background */
}

.highlight-text-as-title {
  display: block;
  color: transparent; /* Make text transparent */
  -webkit-background-clip: text; /* Clip background to text */
  background-clip: text; /* For non-webkit browsers */

  font-weight: bold;
  color: white;

}


/* Mobile styles (screen width 768px or smaller) */
@media (max-width: 768px) {
.hero-banner-as-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* Adjust height as needed */
  
  color: white;
  padding-bottom: 0px;
}

.hero-title-as-title {
  text-align: center;
  font-family: Arial, sans-serif; /* Choose a clean font */
  font-size: 2rem; /* Adjust font size */
  line-height: 1.2;
  padding-bottom: 0px;
}

.top-text-as-title {
  font-family: Arial, sans-serif;  
  display: inline-block; /* Ensure proper alignment and spacing */
  color: #B30000FA;
  background-color: rgba(255, 255, 255, 0.3); /* Light semi-transparent background */
  line-height: 1.5;

  font-weight: bolder;
  border-radius: 5px; /* Optional: Rounded corners */
}

.highlight-container-as-title {
  background-color: #B30000FA; /* Dark blue background */
}

.highlight-text-as-title {
  display: block;
  color: transparent; /* Make text transparent */
  -webkit-background-clip: text; /* Clip background to text */
  background-clip: text; /* For non-webkit browsers */
  
  font-weight: bold;
  color: white;
}
}

/* ---------------------- When Using as title ----------------------*/


